/* NAV BAR */
.grid {color: black;}
body {
      background-color: rgba(241, 238, 227, 0.932);
    }


a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(241, 238, 227, 0.925);
  }
  

li {
    float: left;
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgb(216, 215, 215);
  }

li:last-child {
    float: right;
  }

#logo {
    display: block;
    left: auto;
    right: auto;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
  }

.input {
    border-radius: 24px;
    width: 30%;
    left: auto;
    right: auto ;
    margin-left: 35%;
    margin-right: auto;
    height: auto;
    padding: 10px;
  }
#button1:hover {
  background-color: ivory;
}
#button1 {
          border-radius: 5px;
          width: auto;
          left: auto;
          right: auto ;
          margin-left: 42%;
          margin-right: auto;
          margin-top: 10px;


}  

#button2 {


}

p {
    background-color: inherit;
    color: inherit;
  }

